// Christmas font
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

// COLORS
$primary: #2e2d2d;
$white: #ffffff;
$green: #96e8c5;
$light-gray: #f4f4f4;
$darker-gray: #c3c3c3;

$warning: #fff3cd;
$info: #cce5ff;
$success: #d4edda;
$danger: #f8d7da;

// CHRISTMAS THEME COLOR?
$dark-green: #0e6670;
$red: #ff6860;
$yellow: #ff9f1c;
$theme-white: #f5f1e9;

// SIZES
$x-large: 1.3rem;
$large: 1.1rem;
$normal: 1rem;
$small: 0.8rem;
$smaller: 0.7rem;

// FONT WEIGHT
$bolder: 900;
$bold: 700;
$semi-bold: 500;
