nav{
  height: 10vh; 
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  li{list-style: none;}
  li:first-of-type{
    margin-right: 0.5rem;
  }
}