@import './config.scss';
@import './navigation.scss';
@import './issues.scss';
@import './add-issue.scss';

html {
  font-size: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $primary;
}

a {
  color: inherit;
  font-weight: $semi-bold;

  &:hover {
    color: lighten($primary, 15);
  }
}

main {
  max-width: $max-width;
  width: $width;
  min-width: $min-width;
  margin: $large auto 10vh auto;
}

article {
  display: flex;
  flex-direction: column;
  gap: $normal;
}

button {
  background: none;
  border: none;
  font-weight: $bold;
  text-decoration: underline;
  cursor: pointer;
}

textarea {
  border-color: $lighter-gray;
  padding: $smaller;
  border-radius: 10px;
  resize: none;
  font-family: inherit;
  font-size: $normal;

  &:focus {
    outline: none;
    border-color: $light-gray;
  }
}

h1 {
  grid-area: title;
  color: $primary;
  font-size: $large;
  margin: $normal 0;
}

.wrapper {
  &.flex {
    display: flex;
    flex-direction: column;
    gap: $smaller;
  }

  &.border {
    border: 1px solid;
    border-radius: 10px;
    padding: 1rem;
  }

  &.dark {
    border-color: $light-gray;
  }

  &.light {
    border-color: $lighter-gray;
  }
}

.loading {
  display: flex;
  flex-direction: column;

  text-align: center;
  font-weight: $semi-bold;

  svg {
    height: $large;
    width: $large;
    align-self: center;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

  .rotate {
    animation: rotate 4s linear infinite;
  }
}

.alert {
  // width: 100%;
  padding: $smaller;
  border: 1px solid;
  border-radius: 10px;
  margin: $normal 0;

  p {
    margin: $mini 0;
  }

  &.warning {
    background-color: $warning;
    color: darken($warning, 50);
    border-color: darken($warning, 5);
  }

  &.success {
    background-color: $success;
    color: darken($success, 50);
    border-color: darken($success, 5);
  }

  &.danger {
    background-color: $danger;
    color: darken($danger, 50);
    border-color: darken($danger, 5);
  }

  &.info {
    background-color: $info;
    color: darken($info, 50);
    border-color: darken($info, 5);
  }
}
