@import "./support.scss";

html {
  font-size: 100%;
  max-width: 800px;
  margin: auto;
}

html,
body {
  padding: 0;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

//styling for navigasjonen//

.navigation {
  background-color: #39afb1;
  margin: 1rem auto;
  width: 100%;
  ul {
    margin: 0;
    padding: 0.5rem 2rem;
    display: flex;
    gap: 2rem;
  }
  li{
      text-decoration: none;
      list-style: none;
  }
  .first {
    color: black;
    font-size: 1.2rem;
    text-decoration: none; 
  }
  .first:hover{
    color: white;  
  }
}


  button{
  font-size: .8rem;
  font-weight: bold;
  text-decoration: underline;
  background: white;
  border: none;
  cursor: pointer;
  }

