main {
  margin: 0 auto;
  max-width: 640px;
}

.support_form {
  div {
    margin-bottom: 1rem;
  }

  label {
    display: block;
  }
}

.issues {
  ul {
    list-style: none;
  }
}

.issue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: .8rem;


  h3 {
    margin: 0;
  }

  .meta {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;

  }
  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    span{
      font-size: .9rem;
    }
  }

  .issue_actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    button{
      font-size: .8rem;
      font-weight: bold;
    text-decoration: underline;
    background: white;
    border: none;
    }
    
  }
}