main {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1.5rem;
}

button[type="submit"] {
  padding: 0.6rem 0.6rem;
  font-size: 1rem;
  margin-top: 0.6rem;
}

.start {
  li {
    margin-bottom: 1rem;
  }
}

.userform {
  margin-top: 3rem;
  label {
    font-weight: bold;
  }

  input {
    display: block;
    margin: 0.5rem 0;
  }
}

.rows {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
}

.row-wrapper {
  position: relative;
  margin-bottom: 2.5rem;

  form {
    display: flex;
    button {
      border: none;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 1fr;
  border: 1px solid #ccc;
  width: 100%;
  padding: 1rem;
  p {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.cells {
  display: flex;
  gap: 15px;
  place-content: center;
  align-items: center;
}

.cell {
  .cellButton {
    border: 1px solid #000;
    background: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
}

.pegs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-content: center;
  justify-self: center;
  gap: 10px;
}

.peg {
  border: 1px solid #000;
  background: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.colorPicker {
  display: flex;
  position: absolute;
  margin: 0;
  padding: 0;
  top: -35px;
  left: 0;
  list-style: none;
  gap: 5px;
  li {
    position: relative;
    width: 25px;
    height: 25px;

    button {
      border-radius: 50%;
      border: 1px solid #000;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: none;
    }
  }
}
