@import './game.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  font-size: 100%;
font-family: 'Roboto', sans-serif;
background-color: black;
}
html,
body {
 
  padding: 0;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.playerWrapper{
  display: flex;
  cursor: pointer;
  width: 80%;
  border-radius: 30px;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  #leftDiv{
    width: 20%;
    padding: 0;
    align-items: center;
  }
  #place{
    font-size: 3rem;
    width: 100%;
    color: white;
    padding: 0;
    margin: 0 auto 0 auto;
    text-align: left;
  }
  #rightDiv{
    padding: 0;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
  #textBox{
    width: 100%;
    margin: auto;
    padding: 0;
  }
  #playerName{
    color: white;
    font-size: 1.6rem;
    text-align: center;;
    width: 100%;  
    margin: 0 auto;
    padding: 0;
  }
  #playerInfo{
    color: white;
    font-size: 1rem;
    width: 100%;  
    margin: 0 auto;
    padding: 0;
  }
  #extended{
    width: 100%;
  }
}

.startSectionWrapper{
  display: flex;
  padding: 0;
  flex-direction: column;
  background-color: black;
  justify-content: space-evenly;
  width: 100%;
  #resultsSection{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: auto;
    padding: 0;
  }
  .titleWrapper{
    position: relative;
    background-color: black;
    width:100%;
    margin: 2rem auto;
    padding: 0;
    #hallOf{
      position: absolute;
      width: 40%;
      font-size: 3rem;
      top: 10%;
      left: 42%;
    }
    #masterMind{
      font-size: 4rem;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      padding: 0;
  
    }
    #fame{
      font-size: 6rem;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }
  
  .ul{
    margin: 0;
    padding: 0; 
  }
 
  .gameSection{
    width: 100%;
    margin: .5rem auto;
    background: rgb(0, 0, 0);
    margin-top: 2rem;
    padding: 1rem;
    color: white;
 
  }
 
  h1{
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

//animasjoner //

@keyframes tumbleIn {
  0%{
    opacity: 0;
    rotate: 45deg;
  }
  50%{
    opacity: .5;
    
  }
  100%{
    opacity: 1;
    rotate: 0;
  }
}

#liste:nth-child(1){
  width: 50%;
  margin: auto;
  border-radius: 5px;
  background-color: gold;
  border: 5px solid gold;
  animation-name: tumbleIn;
  animation-duration: 2s;
}
#liste:nth-child(2){
  width: 60%;
  margin: auto;
  border-radius: 5px;
  background-color: silver;
  border: 5px solid silver;
  animation-name: tumbleIn;
  animation-duration: 2s;
}
#liste:nth-child(3){
  width: 70%;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(208, 126, 26);
  border: 5px solid rgb(208, 126, 26);
  animation-name: tumbleIn;
  animation-duration: 2s;

}

.startButton{
  border: none;
  border-radius: 10px;;
  width: 100%;
  margin: auto;
  background-color: gold;
  padding: .5rem 0;
  font-size: 2rem;
  cursor: pointer;
}
#liste{
cursor: pointer;
}
.extendedInfo{
  color: white;
  text-align: center;
  width: 100%;
}

#shipMessage{
  color: white;
  width: 100%;
  text-align: center;
}

#scoreboardExplain{
  color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: .5rem 0;
}